typer[all]>=0.9.0
psycopg2-binary>=2.9         # Postgres driver
SQLAlchemy>=2.0              # ORM/DB toolkit
python-dotenv>=1.0.0         # For .env support
streamlit>=1.0               # For dashboard
pytest                       # For testing